{block content}
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="font-weight-light">Covidcup</h1>
                    <p class="lead">Hlavně se z toho neposrat!</p>
                </div>
            </div>
        </div>
    </header>
{/block}

{block description}
    Covidcup
{/block}