{block content}
      <h1 style="text-align: center; color: white; font-family: "Courier New", Courier, monospace;">Covidcup</h1>
      <p style="text-align: center; color: white; font-family: "Courier New", Courier, monospace;">Coming Soon! :-)</p>
      <div style="align-content: center">
         <img style="display: block; margin-left: auto; margin-right: auto;  width: 100%; height: auto;" src="/images/covidcup-small.jpg" alt="Covid" />
      </div>
{/block}

{block description}
    Covidcup
{/block}