{block content}
    {if !$user->isLoggedIn()}
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 text-center">
                        <h1 class="font-weight-light">Covidcup</h1>
                        <p class="lead">Hlavně se z toho neposrat!</p>
                    </div>
                </div>
            </div>
        </header>
    {else}
        <div class="container clearfix">
            <div class="bs-docs-section">
                <div class="row">
                    <div class="col-lg-12 col-md-7 col-sm-6">
                        <div class="row">
<div class="col-sm-12">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h4 class="card-title">{$article->title}</h4>
                                    {$article->content|noescape}
                                </div>
                            </div>
</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                            {control chatControl}
                            </div>
                            <div class="col-sm-6">
                            {control planControl}
                            {control resultEnterControl}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {/if}
{/block}

{block description}
    Covidcup
{/block}

{block head}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment-with-locales.min.js"
            integrity="sha512-EATaemfsDRVs6gs1pHbvhc6+rKFGv8+w4Wnxk4LmkC0fzdVoyWb+Xtexfrszd1YuUMBEhucNuorkf8LpFBhj6w=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.31/moment-timezone-with-data-10-year-range.min.js"
            integrity="sha512-Rb9RCtecTEK3SdnnQhrZx4GM1ascb2CNHybgugRDTriP/b1As79OemxeIT5qs6RMJ/fCpeJrDjtpASh7I7EKMQ=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"
            integrity="sha512-2JBCbWoMJPH+Uj7Wq5OLub8E5edWHlTM4ar/YJkZh3plwB2INhhOC3eDoqHm1Za/ZOSksrLlURLoyXVdfQXqwg=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script language="JavaScript">
        $.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
            icons: {
                time: 'fas fa-clock',
                date: 'fas fa-calendar',
                up: 'fas fa-arrow-up',
                down: 'fas fa-arrow-down',
                previous: 'fas fa-chevron-left',
                next: 'fas fa-chevron-right',
                today: 'fas fa-calendar-check-o',
                clear: 'fas fa-trash',
                close: 'fas fa-times'
            } });
    </script>
{/block}