{block content}
<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-12 col-md-7 col-sm-6">
            <h4 n:block="title">Pravidla</h4>
            <p class="text-body">
                Budou!
            </p>
        </div>
    </div>
</div>
{/block}

{block description}
    Covidcup
{/block}