{block content}
<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-12 col-md-7 col-sm-6">
            <h4 n:block="title">Pravidla</h4>
            <p class="text-body">
            <ol>
                <li>v daném časovém rozmezí si vyber trasu</li>
                <li>v místě startu se přihlas ve webové aplikaci a spusť si měření času</li>
                <li>po trase se dostaň do cíle a ve webové aplikaci ukonči měření času, čas bude zaznamenán</li>
                <li>opakuj body 1 až 3</li>
                <li>zdolej co nejvíce tras</li>
                <li>každou trasu můžeš absolvovat vícekrát - do celkových výsledků se započítá nejlepší</li>
                <li>buď poctivý(á) a běhej po značené turistické značce a předepsané trase</li>
            </ol>
            </p>
            <h4>Termín</h4>
            <p>1.11.2020 - 31.12.2020</p>
            <h4>Trasy</h4>
            <p>
            <ul>
                <li>Frenštát pod Radhoštěm, můstky - Velký Javorník (schody 1 x)</li>
                <li>Ostravice, železniční přejezd - Lysá hora</li>
                <li>Ostravice, Mazák - Lysá hora</li>
                <li>Ostravice, Mazák - Lysá hora (skoro kolem hráze)</li>
                <li>Ostravice, hřiště - Lysá hora</li>
                <li>Malenovice, Rajská bouda - Lysá hora</li>
                <li>Malenovice, hotel Petr Bezruč - Lysá hora (přes Hradovou)</li>
                <li>Malenovice, restaurace Borová - Lysá hora</li>
                <li>Zlatník - Lysá hora</li>
                <li>Visalaje - Lysá hora</li>
            </ul>
            </p>
            <h4>Vybavení</h4>
            <p>mobilní telefon se zapnutou GPS a daty</p>
            <p class="text-danger">
                Nechceme porušovat nařízení ministra zdravotnictví, takže se řiďte pokyny ohledně shlukování a rouškování
            </p>
        </div>
    </div>
</div>
{/block}

{block description}
    Covidcup
{/block}