{block content}
        <div class="container clearfix">
            <div class="bs-docs-section">
                <div class="row">
                    <h4>{$cup->name} :: Statistiky</h4>
                </div>
                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <div class="card text-center bg-primary">
                            <h5 class="card-title">Počet tras</h5>
                            <div class="card-body">
                                <h2 class="display-2">{$routesCount}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <div class="card text-center bg-warning">
                            <h5 class="card-title">Počet účastníků</h5>
                            <div class="card-body">
                                <h2 class="display-2">{$racersCount}</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <div class="card text-center bg-danger">
                            <h5 class="card-title">Počet žen</h5>
                            <div class="card-body">
                                <h2 class="display-2">{$femaleCount}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <div class="card text-center bg-info">
                            <h5 class="card-title">Počet mužů</h5>
                            <div class="card-body">
                                <h2 class="display-2">{$maleCount}</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <div class="card text-center bg-success">
                            <h5 class="card-title">Počet startů</h5>
                            <div class="card-body">
                                <h2 class="display-2">{$resultsCount}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <div class="card text-center bg-dark">
                            <h5 class="card-title">Průměrný věk</h5>
                            <div class="card-body">
                                <h2 class="display-2">{$averageAge|number: 1}</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <div class="card text-center bg-light">
                            <h5 class="card-title">Průměrný počet startů</h5>
                            <div class="card-body">
                                <h2 class="display-2">{$averageRaces|number: 1}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{/block}

{block description}
    Covidcup
{/block}