{block content}
    <div class="container clearfix">
        <div class="bs-docs-section">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card text-center bg-primary">
                        <h5 class="card-title">Počet tras</h5>
                        <div class="card-body">
                            <h2 class="display-2">{$routesCount}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card text-center bg-danger">
                        <h5 class="card-title">Počet účastníků</h5>
                        <div class="card-body">
                            <h2 class="display-2">{$racersCount}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}

{block description}
    Covidcup
{/block}