<p class="card-text small">Legenda:
    <span n:foreach="$races as $id=>$race"><em>({$race['legend_name']})</em> <a
                href="{plink Route:default, $race['routeid']}">{$race['description']}</a></span>
</p>
<table class="table-responsive table-striped table-sm">
    <thead>
    <th>#</th>
    <th>Kdo</th>
    <th>Narozen(a)</th>
    <th>Kategorie</th>
    <th n:for="$i = 0; $i < $max; $i++" class="text-center">{$i + 1}.</th>
    <th>Počet tras</th>
    <th>Body</th>
    </thead>
    <tbody>
    <tr n:foreach="$results['racers'] as $racer">
        <td class="text-right">{$iterator->getCounter()}</td>
        <td>
            <a href="{plink Racer:default, $racer['racerid']}">{$racers[$racer['racerid']]->nickname}</a>
        </td>
        <td>{$racers[$racer['racerid']]->year}</td>
        <td>{$categories[$racer['category']]->catid}</td>
        <td n:for="$i = 0; $i < $max; $i++" class="text-right">
            {if isset($racer['races'][$i]['points'])}
                ({$races[$racer['races'][$i]['raceid']]['legend_name']}) {$racer['races'][$i]['points']|number: 1}
            {/if}
        </td>
        <td class="text-right">{$racer['races_unique']}</td>
        <td class="text-right">{$racer['overall_points']|number: 1}</td>
    </tr>
    </tbody>
</table>