{block content}
    <div class="container clearfix">
        <div class="bs-docs-section">
            <div class="row">
                <div class="col-lg-12 col-md-7 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Potvrď přihlášení</h3>
                            <p class="card-text">Účastník: {$userProfile->firstname} {$userProfile->lastname}</p>
                            <p class="card-text">
                                <a class="btn btn-success" n:href="Registration:confirm, $initial">Fakt se chci
                                    přihlásit!</a>
                                <a class="btn btn-danger" n:href="Registration:cancel, $initial">Nikdy jsem se přihlásit
                                    nechtěl(a)!</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}

{block description}
    Covidcup
{/block}