{block content}
    <div class="container clearfix">
        <div class="bs-docs-section">
            <div class="row">
                <div class="col-lg-12 col-md-7 col-sm-6">
                    <div class="card bg-secondary">
                        <div class="card-body">
                            <h3 class="card-title" n:block="title">Zatím tu nic není</h3>
                            <p class="card-text">
                                Ale vlastně jo. Můžeš si <a class="btn btn-primary" n:href="Sign:changePassword">změnit heslo</a>!
                                A <a class="btn btn-primary" n:href="Sign:out">odhlásit se</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}

{block description}
    Covidcup
{/block}