{block content}
    <div class="container clearfix">
        <div>
            <div class="bs-docs-section">
                <div class="row">
                    <div class="col-lg-12 col-md-7 col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">{$userInfo->nickname}</h4>
                                        <dl>
                                            <dt>Rok narození:</dt>
                                            <dd>{$userInfo->year}</dd>
                                            <dt>Pohlaví:</dt>
                                            <dd>{$userInfo->gender == 'm' ? 'muž' : 'žena'}</dd>
                                        </dl>
                                        {if $myracerid <> $racerid}
                                            <p class="card-text">
                                                {if $isFollowing}
                                                    <a n:href="Unfollow! $racerid" class="btn btn-danger">Už
                                                        nesrovnávat</a> <a n:href="Comparison:default"
                                                        class="btn btn-primary">Srovnání</a>
                                                {else}
                                                    <a n:href="Follow! $racerid" class="btn btn-primary">Přidat do
                                                        srovnání</a>
                                                {/if}
                                            </p>
                                        {/if}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                {control resultEnterControl $racerid}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}

{block description}
{/block}