{block content}
    <div class="container clearfix">
        <div class="row">
            <div class="col-sm-6">
                {control startControl}
            </div>
        </div>
    </div>
{/block}